---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

---

<BaseLayout title="Echoes Services">
  <section class="hero pt-20">
    <h1>Accelerate Your Growth</h1>
    <p>
      We are a hyper-creative collective with multifaceted experience partnering exclusively with 
      the ambitiously bold brands. We craft interfaces, websites, and marketing content for 
      companies who dare to be different.
    </p>
    <button>Get Started</button>
  </section>
</BaseLayout>
